$success: rgb(28, 184, 65) !default;
$error: rgb(202, 60, 60) !default;
$warning: rgb(223, 117, 20) !default;
$primary-3: #3f51ff !default;
$accent-3: #009688 !default;
$primary-1: lighten($primary-3, 45%) !default;
$primary-2: lighten($primary-3, 25%) !default;
$primary-4: darken($primary-3, 15%) !default;
$primary-5: darken($primary-3, 25%) !default;
$accent-1: lighten($accent-3, 35%) !default;
$accent-2: lighten($accent-3, 25%) !default;
$accent-4: darken($accent-3, 15%) !default;
$accent-5: darken($accent-3, 25%) !default;
$neutral-3: #bbb !default;
$neutral-1: lighten($neutral-3, 21%) !default;
$neutral-2: lighten($neutral-3, 15%) !default;
$neutral-4: darken($neutral-3, 30%) !default;
$neutral-5: darken($neutral-3, 50%) !default;
$text-dark: $neutral-5 !default;
$text-light: #fff !default;
